[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bleak = ">=0.10"
cryptography = ">=3.4"
httpx = ">=0.17"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
