[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bleak = ">=0.22, <2.0.0"
bleak-retry-connector = ">=3.6.0"
cryptography = ">=40.0.0"
httpx = ">=0.25"
aiopath = "~=0.7.7"

[dev-packages]
black = "*"
mypy = "*"
isort = "*"
ruff = "*"
build = "*"
twine = "*"

[requires]
python_version = "3.11"
