[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bleak = ">=0.10"
bleak_retry_connector = "*"
cryptography = ">=3.4"
httpx = ">=0.17"
aiopath = "0.7.*"

[dev-packages]
black = "*"
mypy = "*"
isort = "*"
ruff = "*"

[requires]
python_version = "3.12"
